<html>

<head>
	<title>Help</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.css">
	<link rel="stylesheet" href="/css/hamburger.css">
	<link rel="stylesheet" href="/css/layout.css">
	<link rel="stylesheet" href="/css/help.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Pattaya|Poppins:400,500&display=swap" rel="stylesheet" />

	<!-- Google Analytics -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-159850836-1', 'auto');
	ga('require', 'GTM-TLM34MV');
	ga('send', 'pageview');
	</script>
	<!-- End Google Analytics -->
</head>

<body>
	<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<!-- 	<script type="text/javascript" src="js/script.js"></script>
 -->
	<script src="/js/bootstrap.js"></script>
	<script src="/js/hamburger.js"></script>
	<script src="/js/help.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>



	<!-- Top Navigation Menu -->
	<header class="title">
		<a href="/nav" style="text-decoration: none;">
			<h1>Short Wayze</h1>
		</a>
		<div class="top">
			<a class="menu_icon"><i class="fa fa-bars"></i></a>
		</div>
	</header>
	<nav class="menu" id="nav_menu">
		{{#each routes}}
		<a href="{{route}}" class="item-menu" id="nav_item_{{route}}">{{label}}</a>
		{{/each}}
	</nav>

	<div class="help">
		<h1 class="faq"> FAQ </h1>
		<p>Click to see answer</p>
		<ol>

			{{#each faq}}
			<div class="question" id="{{id}}">
				<div class="q">
					<li>
						<h2><a href="#">{{question}}</a></h2>
					</li>
				</div>
				<div class="details"></div>

			</div>
			{{/each}}
		</ol>
	</div>


	<script src="/js/navigation.js"></script>



</body>

</html>