<html>

<head>
	<title>Short Wayze</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.css">
	<link rel="stylesheet" href="/css/hamburger.css">
	<link rel="stylesheet" href="/css/search.css">
	<link rel="stylesheet" href="/css/layout.css">
	<link rel="stylesheet" href="/css/recommend.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Pattaya|Poppins:400,500&display=swap" rel="stylesheet" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Google Analytics -->
	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
				m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-159859118-1', 'auto');
		ga('require', 'GTM-WCS653R');
		ga('send', 'pageview');
	</script>
	<!-- End Google Analytics -->

</head>

<body>
	<!-- Load an icon library to show a hamburger menu (bars) on small screens -->

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/hamburger.js"></script>
	<script src="/js/search.js"></script>
	<script src="/js/navigation.js"></script>
	<script src="/js/recommend.js"></script>
	<!-- Top Navigation Menu -->
	<header class="title">
		<a href="/nav" style="text-decoration: none;">
			<h1>Short Wayze</h1>
		</a>
		<div class="top">
			<a class="menu_icon"><i class="fa fa-bars"></i></a>
		</div>
	</header>
	<nav class="menu" id="nav_menu">
		{{#each routes}}
		<a href="{{route}}" class="item-menu" id="nav_item_{{route}}">{{label}}</a>
		{{/each}}
	</nav>


	<!-- Search -->
	<div class="search_dropdown_btn">
		<button onclick="searchDestination()" class="dropbtn">Find your route!</button>
		<div id="search_dropdown" class="search_dropdown-content">
			<input type="text" placeholder="Starting location" id="loc_input" onkeyup="filterSearch()">
			{{#each locations}}
			<a class="start_location" href=" /nav/start?origin={{abbreviation}}">{{name}}</a>
			{{/each}}
		</div>
	</div>

	<!-- Location boxes -->
	<div class="ucsd-list">
		<div class="box1 box">
			<a class="giesel-popup">Giesel Library</a>
		</div>
		<div class="giesel-hover">
			<span class="helper"></span>
			<div>
				<div class="giesel-closeButton">&times;</div>
				<p class="location"> <strong> Geisel Library </strong> is the main library building of UC San Diego
					Library. It is named in honor of Audrey and Theodor Seuss Geisel.
					<hr>
					<strong>Location:</strong> Library Walk, center of UCSD campus
					<hr>
					<strong>Hours: </strong>
					<br>
					Monday-Thursday: 7:30am - 12am
					<br>
					Friday: 7:30am-8pm <br>
					Saturday: 10am-6pm <br>
					Sunday: 10am-12am
				</p>
			</div>
		</div>

		<div class="box2 box">
			<a class="sun-god-popup">Sun God</a>
		</div>
		<div class="sun-god-hover">
			<span class="helper"></span>
			<div>
				<div class="sun-god-closeButton">&times;</div>
				<p><strong>Sun God </strong> is a monumental statue by Niki de Saint Phalle. The figurative sculpture is
					a 14-foot (4.3 m)
					multicolored bird-like creature, perched atop a 15-foot (4.6 m) tall arch-shaped, vine-covered
					concrete pedestal.
					<hr>
					<strong>Location: </strong>Between Faculty Club and Mandeville
					<hr>
					<strong>College: </strong> Muir </p>
			</div>
		</div>

		<div class="box3 box">
			<a class="bear-popup">Bear</a>
		</div>
		<div class="bear-hover">
			<span class="helper"></span>
			<div>
				<div class="bear-closeButton">&times;</div>
				<p><strong> Bear </strong> Artist Tim Hawkinson's "Bear" is one of the most delightful surprises in the
					Stuart Collection. Eight
					granite stones - torso, head, ears, arms, and legs - were found locally. Together they make a bear
					23'6" feet high with a total weight of 180 tons.
					<hr> <strong>Location: </strong> Campus courtyard between the CSE building and Bioengineering Hall
					<hr>
					<strong> College: </strong> Warren </p>
			</div>
		</div>

		<div class="box4 box">
			<a class="triton-popup">Triton Statue</a>
		</div>
		<div class="triton-hover">
			<span class="helper"></span>
			<div>
				<div class="triton-closeButton">&times;</div>
				<p> <strong> Triton, </strong> a 750-pound bronze sculpture by artist and UC San Diego alumna Manuelita
					Brown, is a welcoming and iconic symbol of campus spirit.
					<hr> <strong>Location:</strong> Bottom of the Triton Steps entrance to Price Center East</p>
			</div>
		</div>

		<div class="box5 box">
			<a class="star-popup">Fallen Star</a>
		</div>
		<div class="star-hover">
			<span class="helper"></span>
			<div>
				<div class="star-closeButton">&times;</div>
				<p> <strong> Fallen Star</strong> is the 18th piece in a series of permanent public art installations of
					the Stuart Collection at UCSD. The little house, modeled after one Do Ho Suh knew back in Rhode
					Island, is mini – but it’s fully furnished with a cozy interior, and landscaped with a flourishing
					roof garden.
					<hr> <strong>Location:</strong> It sits atop Jacobs Hall, Engineering Building 1
					<hr>
					<strong> College: </strong> Warren </p>
				<strong>Hours: </strong> Tuesdays and Thursday from 11-2pm
			</div>
		</div>

		<div class="box6 box">
			<a class="sixtyfour-popup">64&#176;</a>
		</div>
		<div class="sixtyfour-hover">
			<span class="helper"></span>
			<div>
				<div class="sixtyfour-closeButton">&times;</div>
				<p> <strong> 64&#176; </strong> is 1 of the 12 dining halls at UCSD. The name is taken from the average
					temperature of La Jolla, Calif.
					<hr> <strong>Location:</strong> Revelle Plaza
					<hr>
					<strong> College: </strong> Revelle </p>
				<strong>Hours: </strong> <br> Mon-Thurs: 7am - 9pm <br> Fri: 7am - 8pm <br> Sat-Sun: 10am-8pm
			</div>
		</div>

	</div>
</body>

</html>