<html>

<head>
	<title>Short Wayze</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.css">
	<link rel="stylesheet" href="/css/hamburger.css">
	<link rel="stylesheet" href="/css/search.css">
	<link rel="stylesheet" href="/css/layout.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Pattaya|Poppins:400,500&display=swap" rel="stylesheet" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
	<!-- Load an icon library to show a hamburger menu (bars) on small screens -->

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/hamburger.js"></script>
	<script src="/js/search.js"></script>
	<script src="/js/navigation.js"></script>
	<!-- Top Navigation Menu -->
	<header class="title">
		<a href="/nav" style="text-decoration: none;">
			<h1>Short Wayze</h1>
		</a>
		<div class="top">
			<a class="menu_icon"><i class="fa fa-bars"></i></a>
		</div>
	</header>
	<nav class="menu" id="nav_menu">
		{{#each routes}}
		<a href="{{route}}" class="item-menu" id="nav_item_{{route}}">{{label}}</a>
		{{/each}}
	</nav>


	<!-- Search -->
	<div class="search_dropdown_btn">
		<button onclick="searchDestination()" class="dropbtn">Find your route!</button>
		<div id="search_dropdown" class="search_dropdown-content">
			<input type="text" placeholder="Starting location" id="loc_input" onkeyup="filterSearch()">
			{{#each locations}}
			<a class="start_location" href=" /nav/start?origin={{abbreviation}}">{{name}}</a>
			{{/each}}
		</div>
	</div>
	<div class="main-map">
		<img src="/images/Main-map.png" alt="Main map">
	</div>
	<script src="/js/navigation.js"></script>
</body>

</html>